<!DOCTYPE html>
<html>
<head>
    <!-- Local stuff -->
    <!-- 
    <script src="./node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./lib/tidreg.css">
    -->
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
@*  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="./lib/elm-tidreg.js"></script>
    <script src="./lib/tidreg.js"></script>
</head>
<body>
  <div id="elm"></div>
<!--
  <div class="grid-main">
        <div class="grid-logo">
            <img src="~/Content/img/SM_logo.png" />
        </div>
        <div class="grid-h">
            <div class="grid-btn">
                <h2>Tidregistrering - avviksbehandling</h2>
                <button type="button" class="btn btn-outline-success" id="btn-ajour">Godkjenn</button>
                <button type="button" class="btn btn-outline-danger btn-discard" id="btn-forkast">Forkast</button>
            </div>
        </div>
        <table class="table grid-data" id="tbl-deviations">
            <thead>
                <tr>
                    <th scope="col">-</th>
                    <th scope="col">Navn</th>
                    <th scope="col">Reg. tid inn</th>
                    <th scope="col">Vakt start</th>
                    <th scope="col">Årsak inn</th>
                    <th scope="col">Avvik inn</th>
                    <th scope="col">Reg. tid ut</th>
                    <th scope="col">Vakt slutt</th>
                    <th scope="col">Årsak ut</th>
                    <th scope="col">Avvik ut</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="cb-deviation"/></td>
                    <td>Kai Danesen</td>
                    <td>15.10 07:45</td>
                    <td>15.10 07:30</td>
                    <td>Normal arbeidstid</td>
                    <td>-15 min</td>
                    <td>15.10 15:30</td>
                    <td>15.10 15:45</td>
                    <td>Normal arbeidstid</td>
                    <td>+15 min</td>
                </tr>
            </tbody>
        </table>
    </div>
  -->
</body>
</html>
